
<section id="intro">
	<div class="">
		<div class="col-md-offset-2 col-md-8">
			<hgroup>
				<div class="top-title">
					<h1 class="titleAnim titleAnimOne">Energy from waste</h1>
					<h1 class="titleAnim titleAnimTwo">Unité de valorisation</h1>
					<h1 class="titleAnim titleAnimThree">energie uit afval</h1>
				</div>
				<div class="bottom-title">
					<h1 class="titleAnim titleAnimFour">industrialisation</h1>
					<h1 class="titleAnim titleAnimFive">performance</h1>
					<h1 class="titleAnim titleAnimSix">Operational excellance</h1>
				</div>
				<h2>Discover how the Technical and Performance Direction of Suez contribute to the industrialisation process of 52 Energy from Waste plants in the world.</h2>
			</hgroup>
		</div>
	</div>
</section>

<section class="content">
	<div class="container first">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="h4">01</h3>
				<h1 class="h1">Big title</h1>
				<div class="row">	
					<div class="col-md-10 col-xs-12">
						<p>paragraph to describe</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">02</h4>
                <h1 class="h1">big title</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>paragraph to describe activity</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">03</h4>
                <h1 class="h1">big title</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>paragraph to describe activity</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">04</h4>
                <h1 class="h1">big title</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>paragraph to describe activity</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

</section>