
<section id="intro">
	<div class="">
		<div class="col-md-offset-2 col-md-8">
			<hgroup>
				<div class="top-title">
					<h1 class="titleAnim titleAnimOne">Carte de visite</h1>
					<h1 class="titleAnim titleAnimTwo">Business card</h1>
					<h1 class="titleAnim titleAnimThree">Tarjeta de visita</h1>
				</div>
				<div class="bottom-title">
					<h1 class="titleAnim titleAnimFour">intemporelle</h1>
					<h1 class="titleAnim titleAnimFive">digital</h1>
					<h1 class="titleAnim titleAnimSix">móvil</h1>
				</div>
				<h2>Créer votre carte de visite et partager là facilement via notre service afin que l'on puisse vous retrouver tout au long de votre carrière</h2>
			</hgroup>
		</div>
	</div>
</section>

<section class="content">
	<div class="container first">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="h4">01</h3>
				<h1 class="h1">Un lien permanent, toujours valide</h1>
				<div class="row">	
					<div class="col-md-10 col-xs-12">
						<p>Votre carte de vistie en ligne possède une adresse internet permanente qui permet de péréniser votre contact tout au long de votre carrière. Partager ce lien et vous serez toujours contactable, même des années après.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">02</h4>
                <h1 class="h1">Ajouter le lien dans votre signature mail</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>Vos contacts à qui vous écrivez pourront vous retrouver facilement grâce au lien que vous laisser dans votre signature mail pointant vers votre carte de visite digital.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
		<div class="row">
			<div class="col-xs-12">
                <h4 class="h4">03</h4>
                <h1 class="h1">Enregistrement sur mobile, simplifié</h1>
				<div class="row">
					<div class="col-md-10 col-xs-12">
						<p>Votre contact est facilement enregistrable dans le carnet d'adresse de votre nouvelle relation grâce à notre service.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
                <h4 class="h4">04</h4>
                <h1 class="h1">Inscrivez-vous via LinkedIn, votre page sera toujours à jour</h1>
				<div class="row">
					<div class="col-md-10 col-xs-12">
						<p>L'inscription via linkedIn permet de récupérer vos informations et de la tenir à jour.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
                <h4 class="h4">05</h4>
                <h1 class="h1">Compatible sur toutes les tailles d'écrans</h1>
				<div class="row">
					<div class="col-md-10 col-xs-12">
						<p>Le site s'adapte à la taille de l'écran afin que l'affichage soit optimale en toute circonstance.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
                <h4 class="h4">06</h4>
                <h1 class="h1">Suivez vos contacts, retrouvez les facilement</h1>
				<div class="row">
					<div class="col-md-10 col-xs-12">
						<p>Vous pouvez suivre les contacts inscris sur notre service et ainsi retrouver leurs informations à jour tout le temps.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image 2</p>
			</div>
		</div>
	</div>

</section>