
<section id="intro">
	<div class="">
		<div class="col-md-offset-2 col-md-8">
			<hgroup>
				<div class="top-title">
					<h1 class="titleAnim titleAnimOne">Energy from waste</h1>
					<h1 class="titleAnim titleAnimTwo">Unité de valorisation</h1>
					<h1 class="titleAnim titleAnimThree">energie uit afval</h1>
				</div>
				<div class="bottom-title">
					<h1 class="titleAnim titleAnimFour">industrialisation</h1>
					<h1 class="titleAnim titleAnimFive">performance</h1>
					<h1 class="titleAnim titleAnimSix">Operational excellance</h1>
				</div>
				<h2>Discover how the Technical and Performance Direction of Suez contribute to the industrialisation process of 52 Energy from Waste plants in the world.</h2>
			</hgroup>
		</div>
	</div>
</section>

<section class="content">
	<div class="container first">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="h4">01</h3>
				<h1 class="h1">Standardisation</h1>
				<div class="row">	
					<div class="col-md-10 col-xs-12">
						<p>In order to achieve the industrialisation process we identify the need of standardisatiin to help plants gain in maturity, benefits from other pants best practices, prevent accidents, turbine breakdowns. This work needs a good platform to handles documents and also bring interactions between people.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">02</h4>
                <h1 class="h1">O.E.E. </h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>O.e.e. is a method to identify and quantify losses in a process. This work helps plants and BUs to prioritize their actions and follow their improvement. It also help to benchmark and lunch projets.</p>
                        <p>In order to implement o.e.e. we specified, produced guidance, defined governance scheme and develop a tool.</p>
                        <P>This tool helps to manage data and visualize results. It is multi-language tool with link to hyperviseur to get datas.</P>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">03</h4>
                <h1 class="h1">Big data analysis and reporting</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>Then to handle 98 o.e.e. and millions of data we use a database called JADE. JADE is not able to provide the solution to review results, do business intelligence, reports as we wish...</p>
                        <p>We then try to find solution to provide an efficient reporting with what we have and we develop a tool based on Excel power pivot to handle large amount of datas and produce high quality reports. Suez report, quartely, monthly review and at all level, from plant to group.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">04</h4>
                <h1 class="h1">Project optimisation</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>O.e.e. enable us and BUs to identify opportunties of projects and technical issues. That is why we decided to work on projects like, HeatTrack, Boiler cleanning, Ipcos, Blu.e, TG, ... But also the need of harmonization on R1 calculation, LHV and others topics we are working on.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">05</h4>
                <h1 class="h1">Change management, LEAN</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>To support this vision we think that using LEAN methods like A3 to diagnose issues and solve problems are a requierments to follow the O.e.e. implementation and bring continuous improvement projects to life.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">06</h4>
                <h1 class="h1">Suez EfW App</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>In front of this situation we decided to lunch a web application to answer our needs and support our vision of industrialisation !</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="h4">07</h4>
                <h1 class="h1">Vision and objectives for 2016</h1>
                <div class="row">
                    <div class="col-md-10 col-xs-12">
                        <p>paragraph to describe activity</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>image</p>
            </div>
        </div>
    </div>

</section>