
<div id="main-page" class="col-xs-12">
<div id="oee">

<section class="intro row">
	<div class="col-md-offset-2 col-md-8">
		<h1>Overall Equipement Effectiveness</h1>
        <h2>is a tailored method for plant improvement</h2>
	</div>
</section>

<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="h4">01</h4>
				<h1 class="h1">The specification</h1>
				<div class="row">	
					<div class="col-md-10 col-xs-12">
						<p>paragraph to explain the topic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<p>image</p>
			</div>
		</div>
	</div>

	

</section>

</div>
</div>