 <div class="col-xs-12 container-main only">
    <div class="container-title">
        <h1>Register</h1>
    </div>
    <h3><span class="semi-bold">Username</span> & password</h3>
	<form class="form-auth" ng-submit="register()">
		<input type="username" ng-model="user.username" placeholder="Username : firstname.lastname" class="form-control"><br>
		<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
		<input type="submit" value="Register" class="menu-button blue" />
		<p class="text-warning">{{error_message}}</p>
	</form>
</div>


